body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.col_md-6 {
  border: 2.5px solid black;
  margin-top: 150px !important;
  padding: 20px;
}

button {
  margin: 20px !important;
  border-radius: 6px !important;
}

button:hover {
  border: 1.5px solid black !important;
}


/* we are ariting important because we are overriding the bootstrap classes & styles */